- page_title _('Your GitLab group')

.row.flex-grow-1
  .d-flex.flex-column.align-items-center.w-100.p-3.gl-bg-gray-10
    .edit-group.d-flex.flex-column.align-items-center.pt-5
      #progress-bar
      %h2.center= _('Create your group')
      %p
        %div= _('A group represents your organization in GitLab. Groups allow you to manage users and collaborate across multiple projects.')

      = form_for @group, url: users_sign_up_groups_path, html: { class: 'gl-show-field-errors card w-100 p-3' } do |f|
        = form_errors(@group)
        .row
          .form-group.group-name-holder.col-sm-12
            = f.label :name, class: 'label-bold' do
              = _('Group name (your organization)')
            = f.text_field :name, class: 'form-control js-autofill-group-name',
              required: true,
              title: _('Please fill in a descriptive name for your group.'),
              autofocus: true
            .form-text.text-muted= _('You can always edit this later')
        .row
          .form-group.col-sm-12
            = f.label :path, class: 'label-bold' do
              = _('Group URL')
            .input-group.gl-field-error-anchor
              .group-root-path.input-group-prepend.has-tooltip{ title: root_url, :'data-placement' => 'bottom' }
                .input-group-text
                  %span= root_url
              = f.hidden_field :parent_id
              = f.text_field :path, class: 'form-control js-validate-group-path js-autofill-group-path',
                required: true,
                pattern: Gitlab::PathRegex::NAMESPACE_FORMAT_REGEX_JS,
                title: _('Please choose a group URL with no special characters.')
            %p.validation-error.gl-field-error.field-validation.hide
              = _('Group path is already taken. Suggestions: ')
              %span.gl-path-suggestions
            %p.validation-success.gl-field-success.field-validation.hide= _('Group path is available.')
            %p.validation-pending.gl-field-error-ignore.field-validation.hide= _('Checking group path availability...')
        .row
          .form-group.col-sm-12
            = f.label :visibility_level, class: 'label-bold' do
              = _('Visibility level')
            .js-visibility-level-dropdown{ data: { visibility_level_options: visibility_level_options.to_json, default_level: f.object.visibility_level } }
        = render partial: 'shared/groups/invite_members'
        .row
          .form-group.col-sm-12.mb-0
            = button_tag class: %w[btn btn-success w-100] do
              = _('Create group')
